/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    box-sizing: border-box;
}
body {
    line-height: 1;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset css end*/
figure{display: flex;}
html {
    scroll-behavior: smooth;
}
.logo {
    width: 223px;
    height: 30.3px;
}
.scroll-container {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
.navbar {
    background: #fff;
    height: 92px;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    padding: 0 50px;
    box-shadow: 0 0 5px rgb(0 0 0 / 38%);
}
.checkbtn {
    padding: 20px;
    z-index: 10;
    display: none;
    margin-top: 6px;
}
.check-exit {
    padding: 20px;
    z-index: 10;
    color: #000;
    align-self: end;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.nav-logo {
    width: 196px;
}
.menu {
    height: 17px;
}
.close {
    height: 17px;
}
/* normal */
.navbar ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: flex-end;
    margin-left: 40px;
}
@media (min-width: 870px) and (orientation: landscape) {
    .navbar ul {
        column-gap: 7px;
    }
}
.navbar ul li {
    border-bottom: #fff 3px solid;
    display: flex;
    align-items: center;
}
.navbar ul li.active {
    box-sizing: border-box;
    border-bottom: #FA0F00 4px solid;
}
.navbar ul li.active a,
.navbar ul li:hover a {
    color: #D90000;
}
.menu-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #010101;
    font-size: 1rem;
    text-decoration: none;
    padding: 25px 13px;
    display: block;
    text-align: center;
}
.menu-item2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #D90000;
    font-size: 1rem;
    text-decoration: none;
    padding: 11px 25px;
    display: block;
    text-align: center;
    border: 1.6px solid #D90000;
    border-radius: 13px;
    margin: 0 2px;
}
.menu-item3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 11px 25px;
    display: block;
    text-align: center;
    border: 1.6px solid #fff;
    white-space:nowrap;
    border-radius: 5px;
    margin: 0 2px;
}
.menu-item4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: #D90000;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #fff;
    padding: 11px 25px;
    display: block;
    text-align: center;
    border: 1.6px solid #fff;
    white-space:nowrap;
    border-radius: 5px;
    margin: 0 2px;
}
footer {
    background: #141414;
    color: #9D9A9A;
}
.footer-container {
    text-align: center;
    width: 100%;
    max-width: 80%;
    margin: auto;
    flex: 1 1 auto;
    align-items: center;
    padding-bottom: 20px;
}
.footer-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;

    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.nav-footer {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    font-family: 'Red Hat Display';
    font-size: 1.07rem;
    font-weight: 400;
}

.nav-footer a{
    text-decoration: none;
    color: #9D9A9A;
}
.logo-item {
    width: 234px;
    margin: auto;
    margin-bottom: 22px;

}
.location-gray {
    width: 20px;
    margin-right: 9px;
}
.footer-contact {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 1px solid #3f3f3f;
}
.footer-contact-container {
    display: flex;
    margin: auto;
    width: fit-content;
    gap: 17px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 30;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    
    overflow-y: scroll;
    padding-top: 50px;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modal-1{
    width: 90%;
    position: relative;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}
.modal-title{
    font-size: 2.4rem;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: -0.5px;
    padding: 50px 30px 0 30px;
}
.modal-description {
    width: 100%;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: justify;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}
.modal-link{
    background: #00d9ff;
    padding: 10px 10px;
    width: 100%;
    max-width: 250px;
    margin: auto;
    color: #000!important;
    border-radius: 10px;
    margin-bottom: 30px;
}
.close-modal {
    background: #00d9ff;
    color: #FFFFFF!important;
    line-height: 25px;
    position: fixed;
    right: 15px;
    z-index: 50;
    text-align: center;
    top: 15px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 28px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    width: 50px;
    height: 50px;
    display: flex;
}
.close-modal:hover {
    background: #00d9ff;
}


@media (max-width: 768px),
(orientation: portrait) {
    .logo{
        width: 190px;
    }
    .nav-logo {
        margin-left: 10px;
    }
    .navbar {
        padding: 0 15px;
    }
    .checkbtn {
        display: block;
    }
    .navbar ul {
        position: absolute;
        justify-content: center !important;
        width: 100%;
        min-height: calc(100vh - 156px);
        top: 60px;
        max-height: 844px;
        background: #fff;
        padding-bottom: 100px;
        left: -100%;
        text-align: center;
        align-items: center;
        transition: all .5s;
        display: flex !important;
        flex-direction: column;
    }
    .navbar ul {
        margin: 0;
    }
    li.active,
    li:hover {
        box-sizing: border-box;
        border-bottom: none !important;
    }
    .navbar ul li a {
        font-size: 1.3rem;
        padding: 35px 13px;
    }
    li.active a::before {
        content: url("../img/selected.svg");
        display: inline-block;
        width: 10px;
        margin-right: 7px;
    }
    #check:checked~.nav-menu {
        left: 0;
    }
    #check:checked~.checkbtn {
        display: none;
    }
    #check:checked~.check-exit {
        display: block;
    }
    .footer-title {
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    .nav-footer {
        flex-direction: column;
        gap: 40px;
        margin-top: 60px;
    }
    .logo-item {
        margin-right: 0;
    }
    .footer-contact {
        font-size: 1rem;
        padding-top: 30px;
        padding-bottom: 0;
        margin-top: 50px;
    }
    .footer-contact p {
        width: 100%;
    }
    .footer-contact-container {
        flex-direction: column;
    }
    .modal-1{
        width: 95%;
    }
}
@media (min-width: 1100px) and (orientation: landscape) {
    .footer-container {
        max-width: 75%;
    }
    .modal-1{
        width: 75%;
    }
}